<html>
  <head>
    <script>
      const PLAYER = <%= player %>;
      const HUB = '<%= hub %>';
      const WS_DOMAIN = '<%= wsDomain %>';
      const WS_PORT = '<%= wsPort %>';

      const send = () => {
        const action = document.getElementById('action').value;
        socket.send(action);
      };
    </script>
    <script src="/dist/main.js"></script>
  </head>
  <body style="display: flex; justify-content: center; align-items: center; background: black;">
  </body>
</html>
